[user]
    name = HU Pili
    email = hpl1989@gmail.com
[alias]
    #lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%aD) %C(bold blue)%Creset %C(yellow)%an' --abbrev-commit
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)%Creset %C(yellow)%an' --abbrev-commit
    df = diff --color
[core]
    editor = /usr/bin/vim --noplugin -u /dev/null
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
