[user]
	name = HU Pili
	email = hpl1989@gmail.com
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)%Creset %C(yellow)%an' --abbrev-commit
